body {
  header {
    height: 80px;
    position: relative;
    z-index: 1;
    background: rgb(41, 26, 71);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    padding: 0 5%;
    div#logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 30%;
      #home {
        cursor: pointer;
      }
    }
    div#nav {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      a#login {
        text-decoration: none;
        color: #fff;
        margin-right: 5%;
        font-weight: 400;
        text-shadow: 1.5px 1px 0 rgba(255,255,255,0.3);
        transition: 0.3s all;
        cursor: pointer;
      }
      a#login:hover {
        text-shadow: 1.5px 1px 0 rgba(255,255,255,0.6);
      }
      button#register {
        background: #ff141e;
        color: #fff;
        border: 0;
        border-radius: 10px;
        padding: 10px 30px;
        font-size: 16px;
        box-shadow: 0 0 10px rgba(255, 20, 30, 0.5);
        transition: 0.3s all;
      }
      button#register:hover {
        padding: 10px 40px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(255, 20, 30, 1);
      }
    }
  }
  div#banner-wrap {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
    top: 60px;
    width: 100%;
    position: absolute;
    div#banner {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 60vh;
      background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #333, #000000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #333, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 2% 5% 0;
      border-radius: 0 0 20% 5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #movies {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .movie-card {
          border-radius: 5%;
          background: #000000;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to top, #111, #000000);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to top, #111, #000000);
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
          transition: 1s all; 
          .preview {
            border-radius: 5%;
            width: 100%;
            height: 50%;
            iframe {
              border-radius: 5% 5% 10% 10%;
              width: 100%;
              height: 100%;
            }
          }
          .desc {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: top;
            height: 50%;
            padding: 3% 5% 0;
            div#text, div#btn {
              display: flex;
              flex-direction: column;
            }
            div#text {
              h3 {
                font-size: 24px;
                margin: 0;
                padding: 0 0 1%;
              }
              p {
                font-size: 14px;
                max-height: 110px;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            div#btn {
              padding-bottom: 6%;
              button {
                background: #ff141e;
                color: #fff;
                border: 0;
                border-radius: 10px;
                padding: 10px 15px;
                font-size: 16px;
                box-shadow: 0 0 10px rgba(255, 20, 30, 0.5);
                transition: 0.3s all;
              }
              button:hover {
                padding: 10px 20px;
                border-radius: 15px;
                box-shadow: 0 0 15px rgba(255, 20, 30, 1);
              }
            }
          }
        }
        .movie-card.hidden {
          opacity: 0 !important;
          z-index: -1 !important;
        }
        .movie-card.left {
          position: absolute;
          z-index: 2;
          bottom: -3%;
          left: 20%;
          opacity: 0.6;
          width: 20%;
          height: 90%;
          pointer-events:none;
        }
        .movie-card.middle {
          position: absolute;
          z-index: 3;
          bottom: -10%;
          opacity: 1;
          width: 25%;
          height: 95%;
        }
        .movie-card.right {
          position: absolute;
          z-index: 2;
          bottom: -3%;
          right: 20%;
          opacity: 0.6;
          width: 20%;
          height: 90%;
          pointer-events:none;
        }
      }
    }
    div.banner-border {
      position: absolute;
      top: 45vh;
      height: 20vh;
      width: 100%;
      border-radius: 0 0 20% 5%;
      background: rgba(255, 20, 30, 1);  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, rgba(56, 68, 184, 1), rgba(255, 20, 30, 1));  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, rgba(56, 68, 184, 1), rgba(255, 20, 30, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}